*.xsl linguist-detectable=true

# Mark Java and Python as 'vendored' (helpers), so they don't dominate the stats
#src/java/* linguist-vendored
#src/python/* linguist-vendored

output/*.html linguist-documentation
#output/*.xml linguist-documentation
#output/*.json linguist-documentation
